xsd/pad4.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XML_DIZ_INFO">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MASTER_PAD_VERSION_INFO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MASTER_PAD_VERSION" type="xs:decimal"/>
              <xs:element name="MASTER_PAD_EDITOR" type="xs:string"/>
              <xs:element name="MASTER_PAD_INFO" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Company_Info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Company_Name" type="xs:string"/>
              <xs:element name="Address_1" type="xs:string"/>
              <xs:element name="Address_2" type="xs:string"/>
              <xs:element name="City_Town" type="xs:string"/>
              <xs:element name="State_Province" type="xs:string"/>
              <xs:element name="Zip_Postal_Code" type="xs:string"/>
              <xs:element name="Country" type="xs:string"/>
              <xs:element name="Company_WebSite_URL" type="xs:string"/>
              <xs:element name="Contact_Info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Author_First_Name" type="xs:string"/>
                    <xs:element name="Author_Last_Name" type="xs:string"/>
                    <xs:element name="Author_Email" type="xs:string"/>
                    <xs:element name="Contact_First_Name" type="xs:string"/>
                    <xs:element name="Contact_Last_Name" type="xs:string"/>
                    <xs:element name="Contact_Email" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Support_Info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sales_Email" type="xs:string"/>
                    <xs:element name="Support_Email"/>
                    <xs:element name="General_Email" type="xs:string"/>
                    <xs:element name="Sales_Phone" type="xs:string"/>
                    <xs:element name="Support_Phone" type="xs:string"/>
                    <xs:element name="General_Phone" type="xs:string"/>
                    <xs:element name="Fax_Phone" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="GooglePlusPage" type="xs:string"/>
              <xs:element name="LinkedinPage" type="xs:string"/>
              <xs:element name="TwitterCompanyPage" type="xs:string"/>
              <xs:element name="FacebookCompanyPage" type="xs:string"/>
              <xs:element name="CompanyStorePage" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NewsFeed">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NewsFeed_Feed_URL" type="xs:string"/>
              <xs:element name="NewsFeed_Type" type="xs:string"/>
              <xs:element name="NewsFeed_Title" type="xs:string"/>
              <xs:element name="NewsFeed_Keywords" type="xs:string"/>
              <xs:element name="NewsFeed_Description_70" type="xs:string"/>
              <xs:element name="NewsFeed_Description_250" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Program_Info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Program_Name" type="xs:string"/>
              <xs:element name="Program_Version" type="xs:string"/>
              <xs:element name="Program_Release_Month" type="xs:unsignedByte"/>
              <xs:element name="Program_Release_Day" type="xs:unsignedByte"/>
              <xs:element name="Program_Release_Year" type="xs:unsignedShort"/>
              <xs:element name="Program_Cost_Dollars" type="xs:unsignedShort"/>
              <xs:element name="Program_Cost_Other_Code" type="xs:string"/>
              <xs:element name="Program_Cost_Other" type="xs:unsignedShort"/>
              <xs:element name="Program_Type" type="xs:string"/>
              <xs:element name="Program_Release_Status" type="xs:string"/>
              <xs:element name="Program_Install_Support" type="xs:string"/>
              <xs:element name="Program_OS_Support" type="xs:string"/>
              <xs:element name="Program_Language" type="xs:string"/>
              <xs:element name="Program_Change_Info"/>
              <xs:element name="Program_Specific_Category" type="xs:string"/>
              <xs:element name="Program_Category_Class" type="xs:string"/>
              <xs:element name="Program_System_Requirements"/>
              <xs:element name="File_Info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="File_Size_Bytes" type="xs:unsignedInt"/>
                    <xs:element name="File_Size_K" type="xs:unsignedInt"/>
                    <xs:element name="File_Size_MB" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Expire_Info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Has_Expire_Info" type="xs:boolean"/>
                    <xs:element name="Expire_Count" type="xs:int"/>
                    <xs:element name="Expire_Based_On" type="xs:string"/>
                    <xs:element name="Expire_Other_Info" type="xs:string"/>
                    <xs:element name="Expire_Month" type="xs:int"/>
                    <xs:element name="Expire_Day" type="xs:int"/>
                    <xs:element name="Expire_Year" type="xs:int"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Program_Descriptions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="English">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Keywords" type="xs:string"/>
                    <xs:element name="Char_Desc_45" type="xs:string"/>
                    <xs:element name="Char_Desc_80" type="xs:string"/>
                    <xs:element name="Char_Desc_250" type="xs:string"/>
                    <xs:element name="Char_Desc_450" type="xs:string"/>
                    <xs:element name="Char_Desc_2000" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Web_Info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Application_URLs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Application_Info_URL" type="xs:string"/>
                    <xs:element name="Application_Order_URL" type="xs:string"/>
                    <xs:element name="Application_Screenshot_URL" type="xs:string"/>
                    <xs:element name="Application_Icon_URL" type="xs:string"/>
                    <xs:element name="Application_XML_File_URL" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Download_URLs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Primary_Download_URL" type="xs:string"/>
                    <xs:element name="Secondary_Download_URL" type="xs:string"/>
                    <xs:element name="Additional_Download_URL_1" type="xs:string"/>
                    <xs:element name="Additional_Download_URL_2" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Permissions">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Distribution_Permissions" type="xs:string"/>
              <xs:element name="EULA" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ASP">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ASP_Member" type="xs:string"/>
              <xs:element name="ASP_Member_Number" type="xs:unsignedShort"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>